html, body {
     height: 100%;
     margin: 0;
     font-family: 'Georgia', 'Times New Roman', serif;
 }
 
 body {
     background-image: url('https://images3.alphacoders.com/856/856363.jpg');
     background-size: cover;
     background-position: center center;
     color: #333; /* Dark gray text for better contrast */
     background-attachment: fixed;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     text-align: center;
     padding: 0 10px;
     overflow: hidden;
     box-sizing: border-box;
 }
 
 header h1 {
     font-family: 'Dancing Script', cursive;
     font-size: 3em;
     color: #f8c8d3; /* Soft pink color for the title */
     text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.7);
     margin-top: 10px;
 }
 
 .message {
     font-family: 'Georgia', 'Times New Roman', serif;
     font-size: 1.2em;
     margin: 10px 0;
     color: #f8c8d3; /* Soft pink color for the title */
     animation: fadeIn 2s ease-in-out;
     line-height: 1.5;
     flex-grow: 1;
 }
 
 p {
     word-wrap: break-word; /* Breaks long words to fit within the container */
     word-break: break-word; /* Breaks words at any point if they are too long */
     line-height: 1.6; /* Adds some space between lines for better readability */
     margin: 0 0;
 }
 
 footer {
     font-family: 'Georgia', 'Times New Roman', serif;
     font-size: 1.2em;
     color: #f8c8d3; /* Soft pink color for the title */
     margin-top: 20px;
     padding-top: 10px;
 }
 
 @keyframes fadeIn {
     from {
         opacity: 0;
     }
     to {
         opacity: 1;
     }
 }
 
 @media (min-width: 768px) {
     p {
         max-width: 50%; /* Restrict text width to 50% of the parent container on larger screens */
         margin: 0 auto; /* Centers the text */
     }
 }
